<%= content_tag :div, class: "float-right" do %>
  <%= link_to new_season_year_group_path(@season), title: "Jaargroep toevoegen", class: "btn btn-secondary" do %>
    <i class="fa fa-plus" aria-hidden="true"></i>
  <% end if policy(YearGroup).create? %>
  <%= link_to edit_season_path(@season), title: "Seizoen aanpassen", class: "btn btn-secondary" do %>
    <i class="fa fa-pencil" aria-hidden="true"></i>
  <% end if policy(@season).update? %>
<% end %>


<h1>Seizoen <%= @season.name %></h1>

<table class="table">
  <thead class="thead-default">
    <tr>
      <th></th>
      <th>Geboortejaar</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @season.year_groups.each do |year_group| %>
    <tr>
      <td>
        <%= link_to year_group.name, year_group %>
      </td>
      <td>
        <% unless year_group.year_of_birth_from.nil? && year_group.year_of_birth_to.nil? %>
          <%= year_group.year_of_birth_from %>
          <%= '...' if year_group.year_of_birth_from.nil? %>
          -
          <%= year_group.year_of_birth_to %>
          <%= '...' if year_group.year_of_birth_to.nil? %>
        <% end %>
      </td>
    </tr>
    <% end %>
</tbody>
</table>
