<h2>Opmerkingen</h2>

<%= render "comments/form" %>

<% @comments.each do |comment| %>
<hr />
<div class="clearfix">
  <div><%= comment.body %></div>
  <div>
    <span class="badge badge-default"><%= comment.comment_type_i18n.downcase %></span>
    <span class="badge badge-primary"><%= comment.user.name %></span>
    <span class="badge badge-info" title="<%= I18n.l comment.created_at.localtime, format: :long %>">
      <%= time_ago_in_words(comment.created_at.localtime) %> geleden
    </span>
  </div>
</div>
<% end %>
