<p>
  Hallo <%= @names %>,
</p>

<p>
  We hebben een evaluatie klaargezet voor <%= @team_evaluation.team.name %> en vragen je in te loggen en deze
  in te vullen. Als de evaluatie volledig is ingevuld vragen we je deze terug te sturen naar
  <%= Setting['club.name_short'] %> door op de knop "Evaluatie afronden" te klikken.
</p>

<p>
  <b>NIEUW:</b>
  Openheid en transparantie staan <a href="https://www.esa-rijkerswoerd.nl/kernwaarden/">in onze kernwaarden</a>,
  om die reden wordt na het invullen van de evaluatie deze inzichtelijk voor de speler. De (ouders van de)
  speler kan altijd zijn of haar eigen evaluatie inzien, vanzelfsprekend niet die van het hele team. We
  adviseren de evaluaties persoonlijk te spreken met de spelers en/of ouders (afhankelijk van de leeftijd).
  Zeker als er in de evaluatie aspecten omtrent (ongewenst) gedrag spelen of het advies over speelniveau
  anders is dan het gewenste of verwachte speelniveau van speler/ouders.
</p>

<p>
  <%= link_to "Teamevaluatie #{@team_evaluation.team.name}", edit_team_evaluation_url(@team_evaluation) %>
</p>

<p>
  Als het goed is heb je eerder al een gegevens ontvangen van <%= Setting['club.name_short'] %> om mee in te
  loggen. Zo niet, stuur een mail naar <%= mail_to Setting['club.helpdesk_email'] %>.
</p>

<p>
  Meer weten? Lees <%= link_to "de beknopte handleiding",
    "https://#{ActionMailer::Base.default_url_options[:host]}/pdf/ESA_TeamPlan_Handleiding_Teamevaluaties.pdf" %>
  die we speciaal hebben gemaakt voor het invullen van de teamevaluatie.
</p>
