<%= content_tag :div, class: "float-right" do %>
  <%= link_to new_year_group_team_path(@year_group), title: "Team toevoegen", class: "btn btn-secondary" do %>
    <i class="fa fa-plus" aria-hidden="true"></i>
  <% end if policy(Team).create? %>
  <%= link_to edit_year_group_path(@year_group), title: "Jaargroep aanpassen", class: "btn btn-secondary" do %>
    <i class="fa fa-pencil" aria-hidden="true"></i>
  <% end if policy(@year_group).update? %>
<% end %>

<h1><%= @year_group.name %></h1>

<% @year_group.teams.each do |team| %>
<div>
  <%= link_to team.name, team %>
</div>
<% end %>
