<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse mb-3">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/"><%= I18n.t('company.name') %></a>

  <%  if user_signed_in? %>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
      </li>
    </ul>
    <ul class="navbar-nav float-xs-right">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= current_user.name %></a>
        <div class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" href="#">Profiel</a>
          <%= link_to "Uitloggen", destroy_user_session_path, class: "dropdown-item",  method: :delete %>
        </div>
      </li>
    </ul>

    <!-- <form class="form-inline mt-2 mt-md-0">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
  <% end %>
</nav>

<% unless @breadcrumbs.nil? %>
<div class="container breadcrumbs">
  <!-- <h1 class="pull-left"><%= yield(:title) %></h1> -->
  <h1 class="pull-left"><%= @breadcrumbs.second.name unless @breadcrumbs.second.nil? %></h1>
  <ul class="pull-right breadcrumb">
    <%= render_breadcrumbs :tag => :li, :separator => "" %>
  </ul>
</div>
<% end %>
