<div class="row">
  <div class="col-8">
    <h1><%= @member.name %></h1>

    <address>
      <div><%= @member.address %></div>
      <%= @member.zipcode %> <%= @member.city %>
    </address>
    <div>
      <%= @member.phone %>
    </div>
    <div>
      <%= mail_to @member.email, @member.email %>
    </div>

    <hr/>

    <h2>Teams</h2>

    <% @team_members.each do |team_member| %>
    <div><%= team_member.season.name %> - <%= link_to team_member.team.name, team_member.team %>, als <%= team_member.role_i18n.downcase %></div>
    <% end %>

    <hr/>

    <h2>Beoordelingen</h2>

  </div>

  <div class="col-4">
    <%= render "comments/sidebar" %>
  </div>
</div>
